<nav style="margin-bottom: 2%" *ngIf="mostrarMenu">
    <div class="nav-wrapper" style="background-color: #26a69a">
      <a  class="brand-logo right">To Do List</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="font-lg" routerLink="login">Login</a></li>
        <li><a class="font-lg" routerLink="cadastrar">Cadastrar</a></li>
        <li><a class="font-lg" routerLink="listar">Listar</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
  

