<div class="container" fxFlex="100" fxLayout="column">

  <div class="title">
    <h1>Painel Administrativo</h1>
  </div>

  <!--  FIRST ROW -->
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between">

    <!-- FIRST COLUMN -->
    
    <div class="first" fxLayoutAlign="center" fxFlex="48" fxFlex.lt-md="100" fxLayout="row wrap">
      <div class="row1" fxLayout="column" fxFlex="15" fxFlex.lt-md="100">
        <div fxLayoutAlign="center center">
          <img height="60px" width="60px" src="http://www.freeiconspng.com/uploads/person-icon-blue-18.png">
        </div>
      </div>

      <div class="row2" fxLayout="column" fxFlex="85">
        <div class="text">
          <h1>Cadastrar Colaborador</h1>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat esse fugiat, 
          ducimus quia dolore exercitationem? Quaerat ipsum deleniti labore quas ducimus numquam, 
          dignissimos animi corrupti delectus quia, magnam, provident possimus?
        </div>
      </div>
      <div fxLayoutAlign="center">
        <div class="btn" fxLayout="row" fxLayoutAlign="center center">
          <a routerLink="/colaborador/cadastrar">Cadastrar</a>
        </div>
      </div>
      
    </div>

    <!-- SECOND COLUMN -->

    <div class="second" fxLayoutAlign="center" fxLayout="row wrap" fxFlex="48" fxFlex.lt-md="100">

      <div class="row1" fxLayout="column" fxFlex="15" fxFlex.lt-md="100">
        <div fxLayoutAlign="center center">
          <img height="60px" width="60px" src="http://www.freeiconspng.com/uploads/person-icon-blue-18.png">
        </div>
      </div>

      <div class="row2" fxLayout="column" fxFlex="85">
        <div class="text">
            <h1>Listar Colaborador</h1>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facere hic et optio, 
          soluta eveniet beatae alias quibusdam, veniam ipsam unde ratione ut distinctio excepturi 
          quam fugiat accusantium, quod earum!
        </div>
      </div>
      <div fxLayoutAlign="center">
        <div class="btn" fxLayout="row" fxLayoutAlign="center center">
          <a routerLink="/colaborador/listar">Listar</a>
        </div>
      </div>
    </div>  
  </div>

  <!-- SECOND ROW -->

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between">

    <!-- THIRD COLUMN -->

    <div class="third" fxLayoutAlign="center" fxFlex="48" fxFlex.lt-sm="100" fxLayout="row wrap">
      <div class="row1" fxLayout="column" fxFlex="15" fxFlex.lt-md="100">
          <div fxLayoutAlign="center center">
            <img height="60px" width="60px" src="https://static1.squarespace.com/static/550ad117e4b0c3f5e0bd447e/t/554aaa25e4b0910eeb46a2fa/1435609448794/campaign-grades.png">
          </div>
      </div>
      <div class="row2" fxLayout="column" fxFlex="85">
        <div class="text">
          <h1>Cadastrar Projeto</h1>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam eveniet unde doloremque a 
          excepturi natus esse consequatur quam omnis harum, voluptatem error facilis explicabo impedit!  
        </div>
      </div>
      <div fxLayout="row">
        <div class="btn" fxLayoutAlign="center center">
          <a routerLink="/projeto/cadastrar">Cadastrar</a>
        </div>
      </div>
    </div>

    <!-- FOURTH COLUMN -->

    <div class="fourth" fxFlex="48" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="center">
      <div class="row1" fxLayout="column" fxFlex="15" fxFlex.lt-md="100">
        <div fxLayoutAlign="center center">
          <img height="60px" width="60px" src="https://static1.squarespace.com/static/550ad117e4b0c3f5e0bd447e/t/554aaa25e4b0910eeb46a2fa/1435609448794/campaign-grades.png">
        </div>
      </div>
      <div class="row2" fxLayout="column" fxFlex="85">
        <div class="text">
            <h1>Listar Projeto</h1>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio incidunt tenetur, 
          eum laborum nisi impedit temporibus mollitia eaque totam adipisci dolores ipsam. 
          Quibusdam molestias repellat, dolorum ipsa voluptates culpa hic.
        </div>
      </div>
      <div fxLayout="row">
          <div class="btn" fxLayoutAlign="center center">
          <a routerLink="/projeto/listar">Listar</a>
        </div>
      </div>
    </div>

  </div>

</div>
