<header class="header">
  <!-- aqui vai o header do task list -->
  <h3>To Do List!</h3>

  <div class="form">
    <form>
      <input  type="text" value="" class="idk" id="bt1" />
      <button value="ADD" id="btEnv" class="btn" (click)="gravar_storage($event)"> ADD</button>
    </form>
  </div>
</header>

<section class="property-binding">
  <div class="tasks">
    <ul class="list">
      <li *ngFor="let task of tasks; index as i">{{ task }}<button class="btndel" (click)="remover_storage(i)">Del</button></li>
      
    </ul>
  </div>
  
</section>
